.dashboard {
    padding: 20px;
  }
  
  .stat-container {
    display: flex;
    justify-content: space-around;
  }
  
  .stat-card {
    flex: 1;
    margin: 10px;
    text-align: center;
  }
  
  mat-card-title {
    font-size: 1.2em;
  }
  
  mat-card-subtitle {
    font-size: 2em;
    font-weight: bold;
  }
  