 mat-card{
    margin: 10px;
}
h4{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(254, 255, 255);
    border-radius: 10px;
    letter-spacing: normal;
}

mat-card-title{
    margin: 5px;
    color: rgb(105, 90, 178);
    #checkbox{
        float: right;
        width: 40px;
    }
    
}
input{
    height: 30px;
}
#add-button{
    margin: 5px 30vw; 
    button{
        width: 200px;

    }
} 

.task-card {
    margin-bottom: 15px;
  }
  
  .completed {
    background-color: #e0ffe0; /* Light green background for completed tasks */
  }


  .task-switcher {
    padding: 10px;
    margin: 5px 0px;
    cursor: pointer;
    text-align: center;
    width: 200px;
    background-color: #ececec;
  }
  
  .task-switcher.active {
    background-color: #1e6cc4;
    color: whitesmoke;
  }
  
  .task-switcher:hover {
    background-color: #4c7eb7;
  }
  
  .content-switcher-tab {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 20px;
  }
  .dashboard {
    padding: 10px;
    
  .stat-container {
    display: flex;
    justify-content: space-around;
  }
  
  .stat-card {
    flex: 1;
    margin: 10px;
    text-align: center;
  }
  
  mat-card-title {
    font-size: 1.2em; 
    color: rgb(0, 153, 255);
  }
  
  mat-card-subtitle {
    margin-top: 5px;
    font-size: 2em;
    font-weight: bold;
   }
  }
  mat-card-subtitle{
 margin-left: 10px;
  }

  /* Card styling */
.todo-card {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #3f51b5; /* Change to match your theme */
}

/* Form styling */
.full-width {
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Increased space between form elements */
}

/* Button styling */
.button-container {
  text-align: center;
  margin-top: 20px;
}
.task-card p {
  margin: 5px 0;
}

.task-card b {
  font-weight: bold;
}

.task-card .due-date {
  color: #3f51b5; /* Use a color that matches your theme */
  font-weight: bold;
  font-size: 0.9rem;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

mat-checkbox {
  margin-top: 15px;
}

mat-card-content {
  padding: 20px;
}

  #recurring{
    color: red;
  }
  #log-out-btn{
    float: right;
  }