.registration-card {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .full-width {
    width: 100%;
  }
  
  .button-container {
    text-align: center;
    margin-top: 20px;
  }
  mat-card-title{
    font-weight: bold;
    margin: 10px;
  }